<html>
  <head>
    <title>&#x273e; ProjectNomNom</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
    <link href='/static/recipe.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/static/projectnomnom.js'></script>
  </head>
  <body>
    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '161204603981737',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
      </script>
    <p id='projectnomnom_banner'>
      <span class='logo'>&#x273e;</span>
      ProjectNomNom
      <span id='version'>2.5</span>
      <span id='nav_buttons'>
        <a href='/addrecipe'>Add</a>
        <a href='/viewrecipe'>View</a>
        <a href='cookbook'>Cookbook</a>
      </span>
      <div class="fb-login-button">Login</div>
    </p>
    <hr id='title_bar' />
