<html>
  <head>
    <title>&#x273e; ProjectNomNom</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
    <link href='/static/recipe.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/static/projectnomnom.js'></script>
    {% if recipes|length == 1 %}
    {% with recipe=recipes|first %}
    <meta property="og:title" content="{{ recipe.fields.name }}"/>
    <meta property="og:type" content="food"/>
    <meta property="og:url" content="{{ page_host }}viewrecipe/{{ recipe.pk }}"/>
    <meta property="og:image" content="{{ page_host }}recipeimage/{{ recipe.pk }}.jpg"/>
    <meta property="og:site_name" content="projectnomnom"/>
    <meta property="fb:admins" content="501942668"/>
    {% endwith %}
    {% endif %}
  </head>
  <body id='body_{{ page_name }}'>
    <div id="fb-root"></div>
    <p id='projectnomnom_banner'>
      <span class='logo'>&#x273e;</span>
      ProjectNomNom
      <span id='version'>2.5</span>
      <span id='nav_buttons'>
        <a href='/addrecipe'>Add</a>
        <a href='/viewrecipe'>View</a>
        <!-- <a href='/cookbook'>Cookbook</a> -->
        <span>Cookbook</span>
      </span>
    </p>
    <hr id='title_bar' />
