    <div id='recipe_list'>
      <ul id='recipe_categories'>
        {% for category, x in index_data.items %}
        <li>{{ category }}
          <ul class='recipe_subcategory'>
            {% for subcategory, recipes in x.items %}
            <li>{{ subcategory }}
              <ul class='index_recipe'>
                {% for r in recipes %}
                <li><a href='/viewrecipe/{{ r.pk }}'>{{ r.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>