{% for recipe in recipes %}
<div class="recipe_wrap">
  <div>
    <h1 class='recipe_title'>
      {{ recipe.name }}
      <span class='recipe_author'> - {{ recipe.author }}</span>
    </h1>
    {% if recipe in editable %}
    <h1 class='edit_recipe'>
        <a href='/editrecipe/{{ recipe.pk }}'>Edit</a>
    </h1>
    {% endif %}
  </div>
  <div class='recipe'>
    {% if recipe.hasRecipeImage %}
    <div class='recipe_image'>
      <img src='/recipeimage/{{ recipe.pk }}.jpg' alt='{{ recipe.name }}' />
    </div>
    {% endif %}
    <p>
      {{ recipe.description }} <br />
      Category: {{ recipe.category }} - {{ recipe.subcategory }}, Serves: {{ recipe.servings }}
    </p>
    <h3>Ingredients</h3>
    <ul>
    {% for ingr in recipe.getIngredients %}
      <li>({{ ingr.amount }}) {{ ingr.item }}</li>
    {% endfor %}
    </ul>
    <h3>Directions</h3>
    <ol>
    {% for step in recipe.getDirections %}
      <li>{{ step.direction }}</li>
    {% endfor %}
    </ol>
    {% if recipe.hasNutritionInfo %}
    <h3>Nutrition</h3>
    <dl>
      {% if recipe.servingsize %}
      <dt>Serving Size</dt>
      <dd>{{ recipe.servingsize }}</dd>
      {% endif %}
      {% if recipe.calories %}
      <dt>Calories</dt>
      <dd>{{ recipe.calories }}</dd>
      {% endif %}
      {% if recipe.protein %}
      <dt>Protein</dt>
      <dd>{{ recipe.protein }}</dd>
      {% endif %}
      {% if recipe.carbohydrates %}
      <dt>Carbohydrates</dt>
      <dd>{{ recipe.carbohydrates }}</dd>
      {% endif %}
      {% if recipe.fat %}
      <dt>Fat</dt>
      <dd>{{ recipe.fat }}</dd>
      {% endif %}
      {% if recipe.sugar %}
      <dt>Sugar</dt>
      <dd>{{ recipe.sugar }}</dd>
      {% endif %}
    </dl>
    {% endif %}
    <iframe src='http://www.facebook.com/plugins/like.php?href={{ page_host }}viewrecipe/{{ recipe_object.pk }}'
        scrolling='no' frameborder='0' class='like_button'></iframe>
    <!--
    <div class="fb-like like_button_frame" data-href="{{ page_host }}viewrecipe/{{ recipe_object.pk }}"
        data-send="true" data-width="500" data-show-faces="false"></div>
    -->
  </div>
  <hr class="recipe_break" />
</div>
{% endfor %}