{% include 'header.html.tmpl' %}
    <div id='content_wrap'>
      <div id='content_area'>
        <h1 id='search_title'>Search</h1>

        <form method="GET" action="/search">
            <input type="hidden" name="code" value="{{ fb_code }}" />
            <input type="text" name="q" />
            <input type="submit" />
        </form>
        {% if page %}
        <h3>Results</h3>

          {% for result in page.object_list %}
            <p>
                <a href="/viewrecipe/{{ result.pk }}">{{ result.name }}</a> | {{ result.author }}
            </p>
          {% empty %}
            <p>No results found.</p>
          {% endfor %}
          {% if page.has_previous or page.has_next %}
            <div>
              {% if page.has_previous %}
              <a href="?q={{ query }}&amp;p={{ page.previous_page_number }}&amp;code={{ fb_code }}">
              {% endif %}
              &laquo; Previous
              {% if page.has_previous %}</a>{% endif %}
                |
              {% if page.has_next %}
              <a href="?q={{ query }}&amp;p={{ page.next_page_number }}&amp;code={{ fb_code }}">
              {% endif %}
              Next &raquo;
              {% if page.has_next %}</a>{% endif %}
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% include 'recipe_list.html.tmpl' %}
  </body>
</html>