{% include 'header.html.tmpl' %}
    <div id='content_wrap'>
      <div id='content_area'>
      {% include 'recipe.html.tmpl' %}
      </div>
    </div>
    {% include 'recipe_list.html.tmpl' %}
  </body>
</html>